<!DOCTYPE html>
<html>

<head>

    <title>Pneumonia</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../img/Logos/logotitle.svg" />
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/signUp.css') }}">

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

</head>

<body>
    <div class="signup">
        <form method="post" action="/project/html/logsign/signUp">
            <h2>Sign Up</h2>
        {% if error2  == 1 %}
             <div style="color: #D8000C;background-color: #FFD2D2 ; font-weight: bold;margin-left:17px">you are not in Doctors Syndicate </div>
           {% endif %}
            <input type="text" name="firstname" placeholder="First name" required><br><br>

            <input type="text" name="lastname" placeholder="Last name" required><br><br>

            <input type="text" name="identitynumber" pattern="\d{1,9}" title="identity number must contain only number and length must be 9"
            placeholder="Identity Number" maxlength="9" minlength="9" required><br><br>


           <div style="display: inline-grid;">
            <input  type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number
            and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Password" required><br>
                              <i  style="margin-left:90%;margin-top:-50px; " class="far fa-eye" id="togglePassword"></i>

</div>
            <input type="password" name="confirmpassword"
                placeholder="Confirm password" required><br><br>
           {% if error == 1 %}
             <div style="color: #D8000C;background-color: #FFD2D2 ; font-weight: bold;margin-left:17px">password not equal </div>
           {% endif %}

            <input type="email" name="email" title="please enter a validate email and email contain @ and "
                placeholder=" Email adress" required><br><br>

            <button style=" font-weight: bold; ">Sign Up </button><br><br>

            Already have account?<a href="{{ url_for('login') }}" style="text-decoration: none ; font-family: 'play',sans-serif; color: rgb(7, 7, 7);font-size: 14.5px;"><strong>Log in</strong></a>
        </form>

    </div>
<script>
const togglePassword = document.querySelector('#togglePassword');
const password = document.querySelector('#password');
    togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});
</script>
</body>

</html>