body{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    color: #fff;
    background: url('../img/signlog.jpg') no-repeat;
    background-size: auto;
}
a{
    color: rgb(12, 12, 12);
    text-decoration: blink;
    font-family: 'play',sans-serif;
    margin-left: 35px;
}
.forget{

    background: rgba(44, 62, 80, 0.7);
   
    padding: 70px;
    width: 240px;
    margin-right: 0;
    margin-top: 109px;
    margin: 70px;
    height: 340px;
    

}
h2{
    margin-top: 28px;
    margin-left: 10px;
    color: #2dc1ac;
}
input{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'play',sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: white;
    
}
input[type=button]
{
    border: none;
    width: 180px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 30px;
}
input[type=button]:hover
{
    color: #fff;
    background-color: black;
}
::placeholder
{
    color: aliceblue;
    opacity: 0.8;
}