body{
    
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    background: url('../img/signlog.jpg') no-repeat;
    background-size: cover;
}
.signup
{
    background: rgba(44, 62, 80, 0.7);
    padding: 70px;
    padding-top:10px;
    width: 250px;
    margin-right: 0;
    margin-top: 109px;
    margin: 70px;
    height: 500px;
   font-weight: bold;
}
h2
{
    margin-top: 15px;
    margin-left: 20px;
    color: #2dc1ac;
}
form
{

    width: 240px;
    text-align: center;
}
input
{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px;
    transition: border 0.5s;
    outline: none;
}
button
{

    border: none;
    width: 190px;
    background: white;
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}
button:hover
{
    color: #fff;
    background-color: black;
}

::placeholder
{
    color: aliceblue;
    opacity: 0.8;
}