<!doctype html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Patient</title>
    <link rel="shortcut icon" type="image/x-icon" href=" {{ url_for('static',filename='img/Logos/logotitle.svg') }}">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->

    <link rel="stylesheet" href=" {{ url_for('static',filename='css/dashboard_bootstrap.min.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/db_external_light-bootstrap-dashboard.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/dashboard_light-bootstrap-dashboard.css') }}">
    <!--     Fonts and icons     -->

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/pe-icon-7-stroke.css') }}">
    <link rel="stylesheet" href=" https://fonts.googleapis.com/css?family=Montserrat:400,700,200">

    <!--Account-->
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/db_accountdroplist.css') }}">

    <!--dispaly x_ray image-->
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/dispaly- x_ray-image.css') }}">
    <!--table-->
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/table.css') }}">
    <!--displaySymptoms-->
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/db_displaySymptoms.css') }}">
    <!--display_treatment_doctor-->
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/treatment.css') }}">





</head>

<body>



    <div class="wrapper">
        <div class="sidebar" data-color='blue' data-image="/static/img/sidebar-4.jpg">

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a class="simple-text">
                        Patient
                    </a>
                </div>

                <ul class="nav">
                    <li >
                        <a href="{{ url_for('dashboardPatient') }}">
                            <i class="pe-7s-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('EditProfilepatient') }}">
                            <i class="pe-7s-user"></i>
                            <p>Edit Profile</p>
                        </a>
                    </li>


                    <li class="active">
                        <a href="{{ url_for('Resultpatient') }}">
                            <i class="pe-7s-monitor"></i>
                            <p>Result</p>
                        </a>
                    </li>


                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">



                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{{ url_for('dashboardDoctor22') }}">
                                    <p><strong>Home</strong></p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropbtn">

                                    <p><strong>Account</strong></p>
                                </a>
                                <div class="dropdown-content">
                                    <a href="#">

                                        <h5 style="color: orange;"><i class="pe-7s-user"
                                                             style="font-size: 20px;"></i><strong>{{usernamee}}</strong></h5>
                                      <p style="color: black;line-height: 30px;font-size: 13px;"> Phone:{{phonee}}<br>
                                            Email:{{emaile}}<br>

                                        </p>
                                    </a>

                                </div>
                            </li>

                              <li>
                                <a href="{{ url_for('logout') }}">
                                    <p><strong>log out</strong></p>
                                </a>
                            </li>
                            <li class="separator hidden-lg"></li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>Patient <b>Result</b></h2>
                        </div>
                        <div class="col-sm-4">
                            <div class="search-box">
                                <i class="fa fa-search"></i>
                                <input type="search" onkeyup="myFunction()" id="search"  class="form-control" placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table id="myTable" class="table table-hover table-striped">
                            <thead>
                                <th style="color: orangered;font-size: medium;"><strong>Id </strong></th>
                                <th style="color: orangered;font-size: medium;"><strong>Name</strong></th>
                                <th style="color: orangered;font-size: medium;"><strong>Date</strong></th>
                                <th style="color: orangered;font-size: medium;"><strong>Result</strong></th>
                                <th style="color: orangered;font-size: medium;"><strong>Type</strong></th>
                                <th style="color: orangered;font-size: medium;"><strong>Score</strong></th>
                                <th style="color: orangered;font-size: medium;"><strong>Treatment</strong></th>
                                <th style="color: orangered;font-size: medium;"><strong>Image</strong></th>
                                <th style="color: orangered;font-size: medium;"><strong>Symptoms</strong></th>


                            </thead>
                            <tbody>

                        {% for i in listname %}
                     <tr>
                            {%for j in i%}
                              <td>{{j}}</td>
                            {%endfor%}

     <td>


                                <a onclick="getDataTreatment(this)" class="edit" id="myBtnt" title="tratmenttt">
                                    <i class="pe-7s-note"></i></a>

                            </td>

                                    <td>
                                        <a  onclick="getDataImg(this)" class="delete" id="myImg" data-toggle="tooltip"><i class="pe-7s-photo"></i>
                                        </a>


                                    </td>
                                    <td>
                                        <a  onclick="getDataSymptom(this)" class="Symptoms" id="myBtn" data-toggle="tooltip"><i class="pe-7s-note2"></i>
                                        </a>



                                    </td>



                                </tr>

                            {%endfor%}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>


                                          <div id="myModalnote1" class="modalnote1">

                                            <!-- Modal content -->
                                            <div class="modal-content-note1">
                                                <h3 style="padding-left: 10%;"> Suggestion Treatment</h3>
                                                <input id="treatmentt" type="text" class="texttreatment" ><br><br>

                                                                                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button id="cancle" class="btn2">Cancle</button>

                                            </div>
                                        </div>


                                        <div id="myModalnote" class="modalnote">

                                            <!-- Modal content -->
                                            <div class="modal-content-note">
                                                <h3 style="padding-left: 10%;"> Symptoms</h3>
                                                <p id="symp" class="textSymptoms"></p>
                                                <button id="ok" class="btn">Ok</button>

                                            </div>
                                        </div>

                                     <div id="myModal" class="modal">
                                            <span class="close">&times;</span>
                                            <img class="modal-content" id="img01" alt="img" >

                                        </div>


<script>
function getDataTreatment(x) {
    var datee = document.getElementById("myTable").rows[x.parentElement.parentElement.rowIndex].cells[2].innerHTML



        console.log("after varw");

    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            // console.log(this.responseText);
            if (this.responseText.length > 0) {
                var myObj = JSON.parse(this.responseText);

                myObj = myObj.results;
               // console.log(myObj[0][0]);

                try {
                        document.getElementById("treatmentt").value = myObj[0][0]
                        }
                catch (err) {
                    document.getElementById("treatmentt").value = "";
                }
}
            // document.getElementById("myModelFile").style.display = "";
            // $('#decisionDetailsModal').modal('show');


        }
    };
    xhttp.open("POST", "/resultRowTreatment1", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("datee="+datee);
}
</script>

    <!--symptoms-->

<script>
    function getDataSymptom(x) {
    var datee = document.getElementById("myTable").rows[x.parentElement.parentElement.rowIndex].cells[2].innerHTML
    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            if (this.responseText.length > 0) {
                var myObj = JSON.parse(this.responseText);
                myObj = myObj.results;
                try {
                        document.getElementById("symp").innerHTML = 'Nausea,muddle'
                        }
                catch (err) {
                    document.getElementById("symp").innerHTML = "";
                }
}
        }
    };
    xhttp.open("POST", "/SymForonerow1", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("datee="+datee);
}

</script>
<!--img-->
<script>
function getDataImg(x) {
    var datee = document.getElementById("myTable").rows[x.parentElement.parentElement.rowIndex].cells[2].innerHTML

    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            if (this.responseText.length > 0) {
                var myObj = JSON.parse(this.responseText);

                myObj = myObj.results;

                try {
                        document.getElementById("img01").src = myObj[0][0];
                }
                catch (err) {
                    document.getElementById("img01").src = "";
                    //"/static/img/homepatient1.jpg";
                }
}

        }
    };
    xhttp.open("POST", "/resultRowImg1", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("datee="+datee);
}
</script>
</body>

<!--   Core JS Files   -->
<script type="text/javascript" src=" {{ url_for('static',filename='js/db_jquery.3.2.1.min.js') }}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/db_bootstrap.min.js') }}"></script>

<!--  Charts Plugin -->
<script type="text/javascript" src=" {{ url_for('static',filename='js/db_chartist.min.js') }}"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script type="text/javascript" src=" {{ url_for('static',filename='js/db_light-bootstrap-dashboard.js') }}"></script>

<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
<script type="text/javascript" src=" {{ url_for('static',filename='js/db_demo.js') }}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/viewFile.js') }}"></script>



<script type="text/javascript" src=" {{ url_for('static',filename='js/display x_ray.js') }}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/symptoms.js') }}"></script>
<script type="text/javascript" src=" {{ url_for('static',filename='js/treatment.js') }}"></script>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
      tda = tr[i].getElementsByTagName("td");
  for(j=0;j<tda.length;j++){
      td = tr[i].getElementsByTagName("td")[j];
      console.log(td)
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        break;
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}}
</script>


</html>